@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.box-content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10em;
    padding: 15px;
    width: 400px;
    height: 400px;
    background-color: lightsalmon;
    border-radius: 5px;  
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;
    min-width: 180px;
    border: solid 8px white;
    border-radius: 330px;  
}

h1 {
    text-align: center;
    color: azure;
}

p {
    text-align: center;
}

sm-buttons {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
}

